body {
    width: 100%;
    height: 600px;
    background: #03ad91;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(184, 70%, 58%, 0.979), hsla(273, 91%, 30%, 0.87)), url(../img/chitarra.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(184, 100%, 64%, 0.767), hsl(273, 74%, 33%)), url(../img/chitarra.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 650px;
      display: flex;
      justify-content: center;
      align-items: center;
}